<div class="container page-container">
    <div class="salutation text-center">Bonjour {{user.prenom}} {{user.nom}}</div>
    <h1>Carte</h1>
    
    <div class="panier">
        <button type="button" href="#myModal" class="btn-panier" data-bs-toggle="modal" role="button">
            Panier <i class="fa-solid fa-basket-shopping"></i> ({{panier.length}})
        </button>
    </div>
    <hr>




<section id="sidebar">
    <p> Filtre | <b>Tous nos desserts gourmands</b></p>
    <!-- <div class="border-bottom pb-2 ml-2">
        <h4 id="burgundy">Filters</h4>
    </div> -->
    <div class="py-2 border-bottom ml-3">
        <h6 class="font-weight-bold">Catégories</h6>
        <div id="orange"><span class="fa fa-minus"></span></div>
        <form>
            <div class="form-group">
                <input type="checkbox" id="gateau" name="gateau" [(ngModel)]="gateauChecked">
                <label for="gateau">Gâteau</label>
            </div>
            <div class="form-group">
                <input type="checkbox" id="tarte" name="tarte" [(ngModel)]="tarteChecked">
                <label for="tarte">Tarte</label>
            </div>
            <div class="form-group">
                <input type="checkbox" id="mignardise" name="mignardise" [(ngModel)]="mignardiseChecked">
                <label for="mignardise">Mignardise</label>
            </div>
            <!-- <div class="form-group">
                <input type="checkbox" class="check" id="checkAll" (click)="tousFilter">
                <label for="mignardise">Tous</label>
            </div>    -->
        </form>
    </div>

</section>
<!-- products section -->

<section id="products">
    <div class="lightgreen-container text-center" *ngIf="tarteChecked==true">
        <h2>Tarte</h2>
        <div class="card mb-3" style="max-width: 540px;" *ngFor="let pist of tartes">
            <div class="row g-0">
                <div class="col-md-8">
                  <div class="card-body">
                  <h5 class="card-title">{{pist.nom}}</h5>
                  <p class="card-text">{{pist.description}}</p>
                  <p class="card-text"><small class="text-muted">{{pist.prix}}&euro;</small></p>
                  <button class="btn-patisserie stretched-link" data-bs-toggle="modal" href="#exampleModalToggle" role="button" (click)="getPatisserie(pist.nom,pist.image,pist.description,pist.prix)">Ajouter au panier</button>
                </div>
              </div>
              <div class="col-md-4">
                <img src="/assets/img/{{pist.image}}" class="img-fluid rounded-start img-card-patisserie" alt="Image de {{pist.nom}}">
              </div>
            </div>
        </div>
    </div>

    <div class="container green-container text-center" *ngIf="gateauChecked===true">
        <h2>Gâteau</h2>
        <div class="card mb-3" style="max-width: 540px;" *ngFor="let pist of gateaux">
            <div class="row g-0">
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">{{pist.nom}}</h5>
                  <p class="card-text">{{pist.description}}</p>
                  <p class="card-text"><small class="text-muted">{{pist.prix}}&euro;</small></p>
                  <button class="btn-patisserie stretched-link" data-bs-toggle="modal" href="#exampleModalToggle" role="button" (click)="getPatisserie(pist.nom,pist.image,pist.description,pist.prix)">Ajouter au panier</button>
                </div>
              </div>
              <div class="col-md-4">
                <img src="/assets/img/{{pist.image}}" class="img-fluid rounded-start img-card-patisserie" alt="Image de {{pist.nom}}">
              </div>
            </div>
        </div>
    </div>  


    <div class="container lightgreen-container" *ngIf="mignardiseChecked==true">
        <h2>Mignardise</h2>
        <div class="card mb-3" style="max-width: 540px;" *ngFor="let pist of mignardises">
            <div class="row g-0">
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">{{pist.nom}}</h5>
                  <p class="card-text">{{pist.description}}</p>
                  <p class="card-text"><small class="text-muted">{{pist.prix}}&euro;</small></p>
                  <button class="btn-patisserie stretched-link" data-bs-toggle="modal" href="#exampleModalToggle" role="button" (click)="getPatisserie(pist.nom,pist.image,pist.description,pist.prix)">Ajouter au panier</button>
                </div>
              </div>
              <div class="col-md-4">
                <img src="/assets/img/{{pist.image}}" class="img-fluid rounded-start img-card-patisserie" alt="Image de {{pist.nom}}">
              </div>
            </div>
          </div>
    </div>   
</section>





<div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel"
  tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">

      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalToggleLabel">{{p.nom}}</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body text-center">
        <img class="img-modal" src="assets/img/{{p.image}}">
        <p class="description-patisserie-modale">{{p.description}}</p>
        <p>{{p.prix}}€</p>
      </div>
      <div class="modal-footer">

        <button class="btn btn-modal-central" (click)="addPanier()">Valider</button>

        <label>Quantité</label>

        <!-- <div class="btn-group" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-secondary" name="minus-button" (click)="minus(quantite)">-</button>
            <input type="text" class="btn btn-light quantity-input" [(ngModel)]="quantite">
            <button type="button" class="btn btn-secondary" name="plus-button" (click)="plus(quantite,p.qteStock)">+</button>
        </div> -->

        <input type="number" id="quantité" name="quantité"
        min="1" max={{p.qteStock}} [(ngModel)]="quantite">

        <p class="message" >{{message}}</p>

      </div>


    </div>
  </div>
</div>


	
	<!-- Modal -->
	<div class="modal right fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">

				<div class="modal-header">
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>

				<div class="modal-body">
					<h3>Ma commande ({{panier.length}})</h3>

                    <div>
                        <table  class="table table-striped tab-modal">
                            <tr>
                                <th>Quantite</th>
                                <th>Patisserie</th>
                                <th>Prix</th>
                                <!-- <th>Suppr</th> -->
                            </tr>
                            <tr *ngFor="let ligne of panier; let i = index">
                                <!-- <td><input type="number" [(ngModel)]="ligne.quantite">{{ligne.quantite}}</td> -->
                                <td><input class="input-ligne form-control" type="number" id="quantité" name="quantiteLigne"
                                  min="1" max={{p.qteStock}} [(ngModel)]="ligne.quantite"></td>
                                <td>{{ligne.patisserie.nom}}</td>
                                <td>{{ligne.prix}}€</td>
                                <!-- <td><button (click)="edit(i)"><i class="fa-solid fa-trash"></i></button></td> -->
                            </tr>
                        </table>

                        <div class="total-panier">
                          TOTAL : {{total}} €
                        </div>
                        <button id="validateBasket" class="btn btn-modal-panier" (click)="validate()" [routerLink]="['/recapitulatif']">Valider votre commande</button>

                        <!-- <button id="basket" class="btn btn-modal-panier" (click)="validate()">Valider votre commande</button> -->
                    
                        
                    </div>

				</div>

			</div><!-- modal-content -->
		</div><!-- modal-dialog -->
	</div><!-- modal -->
	

</div>