<p>commande works!</p>

<div class="panier">
    <button type="button" href="#myModal" class="btn btn-demo" data-bs-toggle="modal" role="button">
        Voir le panier
        <i class="fa-solid fa-basket-shopping"></i></button>
</div>

<section id="sidebar">
    <p> Menu | <b>Tous nos Desserts Gourmands</b></p>
    <div class="border-bottom pb-2 ml-2">
        <h4 id="burgundy">Filters</h4>
    </div>
    <div class="py-2 border-bottom ml-3">
        <h6 class="font-weight-bold">Categories</h6>
        <div id="orange"><span class="fa fa-minus"></span></div>
        <form>
            <div class="form-group">
                <input type="checkbox" id="gateau">
                <label for="gateau">Gâteau</label>
            </div>
            <div class="form-group">
                <input type="checkbox" id="tarte">
                <label for="tarte">Tarte</label>
            </div>
            <div class="form-group">
                <input type="checkbox" id="mignardise">
                <label for="mignardise">Mignardise</label>
            </div>                                
        </form>
    </div>
    
    
</section>
<!-- products section -->
<section id="products">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-10 offset-md-0 offset-sm-1" *ngFor="let pist of MyList ">
                <div class="card">
                    <img class="card-img-top" src="/assets/img/{{pist.image }}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">           
                            <a>
                            <span style="font-weight: bold;" >{{pist.nom }}</span>
                        </a></h5>
                        <div class="d-flex flex-row my-2">
                            <div class="text-muted d-flex align-items-start">{{ pist.prix }}&euro;</div>
                            <div class="d-flex align-items-center">
                                <span class="card-text  ">{{pist.description}}</span>
                          
                                
                        </div>
                            <button class="btn w-100 rounded my-2 btn-primary" data-bs-toggle="modal" href="#exampleModalToggle" role="button" (click)="getPatisserie(pist.nom,pist.image,pist.description,pist.prix)">Ajouter au panier</button>
                        </div> 
                           
                    </div>
                </div>
            </div>
            
        </div>
    </div>   
    
</section>


<div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel"
  tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">

      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalToggleLabel">{{p.nom}}</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <img class="img_modal" src="assets/img/{{p.image}}">
        <p>{{p.description}}</p>
        <p>{{p.prix}}€</p>
      </div>
      <div class="modal-footer">

        <button class="btn btn-primary" (click)="addPanier()">Valider</button>

        <label>Quantité</label>

        <input type="number" id="quantité" name="quantité"
        min="0" max={{p.qteStock}} [(ngModel)]="quantite">

        <p class="message">{{message}}</p>

      </div>


    </div>
  </div>
</div>


	
	<!-- Modal -->
	<div class="modal left fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">

				<div class="modal-header">
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				</div>

				<div class="modal-body">
					<h3>Ma commande ({{panier.length}})</h3>

                    <div>
                        <table>
                            
                            <tr>
                                <th>Quantite</th>
                                <th>Patisserie</th>
                                <th>Prix</th>
                            </tr>


                            <tr *ngFor="let ligne of panier">
                                <td>{{ligne.quantite}}</td>
                                <td>{{ligne.patisserie.nom}}</td>
                                <td>{{ligne.prix}}</td>
                            </tr>
                            <tr>
                                <td colspan="3" align="center">
                                    TOTAL : {{total}} €
                                </td>
                            </tr>
                        </table>

                        <button class="btn btn-primary">Valider votre commande</button>
                    
                        
                    </div>

				</div>

			</div><!-- modal-content -->
		</div><!-- modal-dialog -->
	</div><!-- modal -->
	
	<!-- Modal -->
	<div class="modal right fade" id="exampleModalToggle" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2">
		<div class="modal-dialog" role="document">
			<div class="modal-content">

				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="myModalLabel2">Right Sidebar</h4>
				</div>

				<div class="modal-body">
					<p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
					</p>
				</div>

			</div><!-- modal-content -->
		</div><!-- modal-dialog -->
	</div><!-- modal -->


