img{
    height:20rem;
    width:20rem;
    margin-left:6rem;
    padding-bottom:5rem;
}



.container{
    margin : 0;
}

.white-container{
    margin:0;
    background-color:white;
}

.green-container{
    margin:0;
    background-color: #A2B5BB;
    height:300px;
}

.top-explanation{
    background-color:white;
    margin-left: auto;
    margin-right:auto;
    padding:10rem 15rem 10rem 15rem;
    width:80%;
    text-align: center;
    position:relative;
    top: -700px;
}

.presentation{
    height:500px;
    padding-top: 25rem;
    padding-bottom: 10rem;
}


.produits, .ingredients{
    padding:5rem;
    height:25rem;
}

.produits{
    margin-top:-20rem;
    padding-top:0;
    
}

.illustration{
    height:50px;
    width:50px;
}

.orange-container{
    background-color:#FAD6A5;
}

.slide{
    width:30rem;
    margin-left:auto;
    margin-right:auto;
    padding-top:2rem;
    padding-bottom:2rem;
}

.img-insta{
    margin-left:auto;
    margin-right:auto;
}