<div class="container presentation green-container">

    <div class="row infos text-center">
        <div class="col">
            <h5>Adresse</h5>
            <p>15 rue du château, 75001 Paris, France </p>     
        </div>
        <div class="col">
            <h5>Horaires</h5>
            <p>Du mercredi au vendredi : 12h-20h</p> 
            <p>Samedi et dimanche : 10h-19h</p> 
        </div>
        <div class="col">
            <h5>Téléphone</h5>
            <p>01 23 45 67 89</p>
        </div>
    </div>

</div>

<div class="container patisseries white-container">
    <div class="row infos text-center top-explanation">
        <div class="col">
            <h1>La patisserie</h1>
            <p>Paragraphe. Cliquez ici pour ajouter votre propre texte. Cliquez sur "Modifier Texte" ou double-cliquez ici pour ajouter votre contenu et personnaliser les polices. </p>
             <button>En savoir plus</button>   
        </div>
    </div>
    <div class="illustration">
        <img src="/assets/img/canneles.jpg" alt="image cannelé">
    </div>
</div>

<div class="container produits green-container">
    <div class="illustration"><img src="/assets/img/canneles.jpg" alt="image cannelé"></div>
    <div class="explanation"></div>
</div>

<div class="container ingredients white-container">
    <div class="illustration"></div>
    <div class="explanation"></div>
</div>

<div class="container ingrédients orange-container">
    <div class="instagram"></div>
     //caroussel

    <div class="contact">
        <div class="logo-shop"></div>
        <div class="horaires"></div>
        <div class="infos-contact"></div>
        <div class="formulaire-contact"></div>
    </div>
</div>