<div class="container">

  <h3>Votre commande</h3>
  <div>Nombre de douceurs dans votre panier : ({{lst.length}})</div>

    <table class="table table-striped">
        <thead>
            
          <tr>
            <th scope="col">Quantite</th>
            <th scope="col">Patisserie</th>
            <th scope="col">Prix</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let ligne of lst">
            <td>{{ligne.quantite}}</td>
            <td>{{ligne.patisserie.nom}}</td>
            <td>{{ligne.prix}} €</td>
          </tr>
        </tbody>
      </table>

      <button id="validateBasket" class="btn btn-modal-panier" (click)="buy()" [routerLink]="['/final']">Valider votre commande</button>

</div>
