<div class="container page-container">

  <h3>Votre commande</h3>
  <div class="container identite">
    <span class="text-id">Nom :</span> {{user.nom}}
    <span class="text-id">Prénom :</span> {{user.prenom}}
  </div>
  <div class="container nb-article">Nombre de douceurs dans votre panier: <span class="text-id">{{lst.length}}</span> </div>

    <table class="table table-striped">
        <thead>           
          <tr>
            <th scope="col">Quantite</th>
            <th scope="col">Patisserie</th>
            <th scope="col">Prix</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let ligne of lst">
            <td>{{ligne.quantite}}</td>
            <td>{{ligne.patisserie.nom}}</td>
            <td>{{ligne.prix}} €</td>
          </tr>
        </tbody>
      </table>

      <div class="container text-center">
        <button id="validateBasket" class="btn btn-recap" (click)="buy()" [routerLink]="['/final']">Valider votre commande</button>
      </div>
     
</div>
