<p>findbyidpatisserie works!</p>

<table class="table">
    <thead>
        <tr >
          <th scope="col">categorie</th>
          <th scope="col">description</th>
          <th scope="col">image</th>
          <th scope="col">infos</th>
          <th scope="col">nom</th>
          <th scope="col">prix</th>
        </tr>
      </thead>
    <tbody>
    <tr>
        <td>
            {{p.categorie}}
        </td>
        <td>
            {{p.description}}
        </td>
        <td>
            {{p.image}}
        </td>
        <td>
            {{p.infos}}
        </td>
        <td>
            {{p.nom}}
        </td>
        <td>
            {{p.prix}}
        </td>
    </tr>
</tbody>
</table>
