<p>gestionnaire-utilisateurs works!</p>

<table>
    <tr *ngFor="let user of myList">
        <td>
            {{user.id}}
        </td>
        <td>
            {{user.nom}}
        </td>
        <td>
        {{user.prenom}}
        </td>
        <td>
            {{user.email}}
        </td>
        <td>
            {{user.mdp}}
        </td>
        <td>
            {{user.numeroRue}}
        </td>
        <td>
            {{user.rue}}
        </td>
        <td>
            {{user.cp}}
        </td>
        <td>
            {{user.ville}}
        </td>
        <td>
            {{user.telephone}}
        </td>
    </tr>
    </table>