.breadcrumb-item+.breadcrumb-item::before {
    color: var(--light);
}

.navbar {
    position:fixed;
    width:100%;
    z-index: 1000000;
    top:0;
}

.mb-3{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
.d-flex{
    margin-top: 100px;
    padding-top: 10px;
}
.mask{
    background-color: rgba(235, 221, 221, 0.6);
    width:100%;
}

.p-5{
    background-image: url(/assets/img/shop.jpg);
    height: 600px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}