<h2>{{title}}</h2>

<div class="container">
    <div class="row justify-content-center align-items-center">
        <div class="col-4">
            <div class="card">
                <div class="card-body">
                    <form>
                        <div class="form-group">
                            <label for="inputNom">Nom</label>
                            <input type="text" class="form-control" id="inputNom" placeholder="Dupond">
                        </div>
                        <div class="form-group">
                            <label for="inputPrenom">Prenom</label>
                            <input type="text" class="form-control" id="inputPrenom" placeholder="Justine">
                        </div>
                        <div class="form-group">
                            <label for="inputEmail">Email</label>
                            <input type="email" class="form-control" id="inputEmail" placeholder="adresse@mail.fr">
                        </div>
                        <div class="form-group">
                          <label for="inputMdp">Mot de passe</label>
                          <input type="password" class="form-control" id="inputMdp" placeholder="%votreMot2Passe!">
                          <small id="mdpHelp" class="form-text text-muted">Minimum 8 caractères avec au moins 1 chiffre et 1 caractère spécial.</small>
                        </div>
                        <!-- <div class="form-group">
                            <label for="inputMdpConfirmation">Confirmation mot de passe</label>
                            <input type="email" class="form-control" id="inputMdpConfirmation" aria-describedby="emailHelp" placeholder="Enter email">
                            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                        </div> -->
                        <div class="form-group">
                          <label for="inputNumRue">Numéro de Rue</label>
                          <input type="text" class="form-control" id="inputNumRue" placeholder="2bis">
                        </div>
                        <div class="form-group">
                            <label for="inputRue">Adresse (Rue, Avenue, Boulevard...etc.)</label>
                            <input type="text" class="form-control" id="inputRue" placeholder="Rue de Paris">
                        </div>
                        <div class="form-group">
                            <label for="inputCp">Code postal</label>
                            <input type="text" class="form-control" id="inputCp" placeholder="69000">
                        </div>
                        <div class="form-group">
                            <label for="inputVille">Ville</label>
                            <input type="text" class="form-control" id="inputVille" placeholder="Lyon">
                        </div>
                        <div class="form-group">
                            <label for="inputTel">Téléphone</label>
                            <input type="password" class="form-control" id="inputTel" placeholder="0633453645">
                        </div>
                        <!-- <div class="form-check">
                          <input type="checkbox" class="form-check-input" id="exampleCheck1">
                          <label class="form-check-label" for="exampleCheck1">Check me out</label>
                        </div> -->
                        <button type="submit" class="btn btn-primary">Submit</button>
                      </form>
                </div>
            </div>
        </div>
    </div>
</div>