
<div class="container green-container">
    <div class="container row justify-content-center align-items-center">
        <div class="col-10">
            <div class="card text-center">
                <h2>{{title}}</h2>
                <div class="card-body">
                    <form style="max-width:450px;margin:auto">
                        <div class="row justify-content-center align-items-center">
                            <div class="col-lg-6 col-sm-12"><div class="form-group">
                                <h5>Identifiants</h5>
                                <label for="inputNom">Nom</label>
                                <input type="text" class="form-control" id="inputNom" name="inputNom" placeholder="Dupond" [(ngModel)]='user.nom'>
                            </div>
                            <div class="form-group">
                                <label for="inputPrenom">Prenom</label>
                                <input type="text" class="form-control" id="inputPrenom" name="inputPrenom" placeholder="Justine" [(ngModel)]="user.prenom">
                            </div>
                            <div class="form-group">
                                <label for="inputPrenom">Société / Association</label>
                                <input type="text" class="form-control" id="inputSociete" name="inputSociete" placeholder="Thales" [(ngModel)]="user.societe">
                            </div>
                            <div class="form-group">
                                <label for="inputEmail">Email</label>
                                <input type="email" class="form-control" id="inputEmail" name="inputEmail" placeholder="adresse@mail.fr" [(ngModel)]="user.email">
                            </div>
                            <div class="form-group input-icons">
                              <label for="inputMdp">Mot de passe</label>
                              <input *ngIf="!showPass" type="password" class="form-control input-field input" id="inputMdp" name="inputMdp" [(ngModel)]="user.mdp" > 
                              <input *ngIf="showPass" type="text" class="form-control input-field input" id="inputMdp" name="inputMdp" [(ngModel)]="user.mdp" > 
                              <small *ngIf="!showPass" (click)="showMdp()" id="mdpHelp" class="form-text text-muted"><i class="fa-solid fa-eye icon"></i> Minimum 8 caractères.</small> 
                              <small *ngIf="showPass" (click)="hideMdp()" id="mdpHelp" class="form-text text-muted"><i class="fa-solid fa-eye-slash"></i> Minimum 8 caractères.</small>
                              <!-- avec au moins 1 chiffre et 1 caractère spécial -->
                            </div>
                            <div class="form-group input-icons">
                                <label for="inputMdpConfirmation">Confirmation mot de passe</label>
                                <input *ngIf="!showPassBis" type="password" class="form-control input-field input" id="inputMdpConfirmation" name="inputMdpConfirmation" aria-describedby="emailHelp" placeholder="Mot de passe choisi" [(ngModel)]="mdpBis">
                                <input *ngIf="showPassBis" type="text " class="form-control input-field input" id="inputMdpConfirmation" name="inputMdpConfirmation" aria-describedby="emailHelp" placeholder="Mot de passe choisi" [(ngModel)]="mdpBis">
                                <i *ngIf="!showPassBis" (click)="showMdpBis()" class="fa-solid fa-eye icon iconsubmit"></i>
                                <i *ngIf="showPassBis" (click)="hideMdpBis()" class="fa-solid fa-eye-slash"></i> 
                                <small *ngIf="!sameMdp()" id="passwordError" class="form-text passwordError"> Les mots de passe sont différents.</small>
                                <small *ngIf="sameMdp()" id="passwordCorrect" class="form-text passwordCorrect">Les mots de passe sont identiques.</small>
                            </div>
                        </div>
                            <div class="col-lg-6 col-sm-12">
                            <h5>Coordonnées</h5>
                        <div class="form-group">
                            <label for="inputNumRue">Numéro de Rue</label>avec au moins 1 chiffre et 1 caractère spécial
                            <input type="text" class="form-control" id="inputNumRue" name="inputNumRue" placeholder="2bis" [(ngModel)]="user.numeroRue">
                          </div>
                          <div class="form-group">
                              <label for="inputRue">Adresse</label>
                              <input type="text" class="form-control" id="inputRue" name="inputNumRue" placeholder="Rue de Paris" [(ngModel)]="user.rue">
                          </div>
                          <div class="form-group">
                              <label for="inputCp">Code postal</label>
                              <input type="text" class="form-control" id="inputCp" name="inputNumRue" placeholder="69000" [(ngModel)]="user.cp">
                          </div>
                          <div class="form-group">
                              <label for="inputVille">Ville</label>
                              <input type="text" class="form-control" id="inputVille" name="inputNumRue" placeholder="Lyon" [(ngModel)]="user.ville">
                          </div>
                          <div class="form-group">
                              <label for="inputTel">Téléphone</label>
                              <input type="telephone" class="form-control" id="inputTel" name="inputNumRue" placeholder="0633453645" [(ngModel)]="user.telephone">
                          </div>
                          <!-- <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                            <label class="form-check-label" for="exampleCheck1">Check me out</label>
                          </div> -->
                            </div>
                        </div>

                        <button type="submit" class="btn btn-primary" (click)="create()">Enregistrer</button>
                        <!-- <button type="submit" class="btn btn-primary" routerLink="/authentification">Enregistrer</button> -->
                      </form>
                </div>
            </div>
        </div>
    </div>
</div>