<p>findallpatisseries works!</p>


<table class="table">
    <thead>
      <tr >
        <th scope="col">categorie</th>
        <th scope="col">description</th>
        <th scope="col">image</th>
        <th scope="col">infos</th>
        <th scope="col">nom</th>
        <th scope="col">prix</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let pist of MyList">
        <td>
            {{pist.categorie}}
        </td>
        <td>
            {{pist.description}}
        </td>
        <td>
            {{pist.image}}
        </td>
        <td>
            {{pist.infos}}
        </td>
        <td>
            {{pist.nom}}
        </td>
        <td>
            {{pist.prix}}
        </td>
      </tr>
    </tbody>
  </table>

