hr{
    width :5rem;
    margin-left:auto;
    margin-right:auto;
}

.card-img-top{
    width: 5rem;
    height:15rem;
}

.img-fluid{
    width: 20rem;
    height:15rem;
}

.card{
    height:28rem;
    margin-bottom:1rem;
    text-align: center;
}

.categories{
    text-align: center;
    margin-top:2rem;
    margin-bottom:1.5rem;
}

.orange-container{
    padding-top:2rem;
    background-color:#FAD6A5;
}

.green-container{
    background-color: #A2B5BB;
}