
<!-- Footer -->
<footer class="bg-light text-center">
    <!-- Grid container -->
    <div class="container p-4">

        <!-- Section: Titre et horaires -->
        <section class="titrehoraires">

            <div class="titre">
                <h1>Au bonheur des gourmands</h1>
            </div>
            <div>
                <h4>Horaires</h4>
                <p>/</p>
                <p>Du mercredi au vendredi : 12h-20h<br>
                    Samedi et dimanche : 10h-19h</p>
            </div>

        </section>

      <!-- Section: Social media -->
      <section class="mb-4">
        <!-- Facebook -->
        <a class="btn btn-outline-light btn-floating m-1" href="https://facebook.com/" role="button"
          ><img src="assets/icons/facebook.png"></a>
  
        <!-- Twitter -->
        <a class="btn btn-outline-light btn-floating m-1" href="https://twitter.com" role="button"
          ><img src="assets/icons/twitter.png"></a>
  
        <!-- Instagram -->
        <a class="btn btn-outline-light btn-floating m-1" href="https://www.instagram.com/" role="button"
          ><img src="assets/icons/instagram.png"></a>
      </section>
      <!-- Section: Social media -->
  

      <!-- Section: Form -->
      <section class="">
        <form action="">
          <!--Grid row-->
          <div class="row d-flex justify-content-center">
            <!--Grid column-->
            <div class="col-auto">
              <p class="pt-2">
                <strong>Sign up for our newsletter</strong>
              </p>
            </div>
            <!--Grid column-->
  
            <!--Grid column-->
            <div class="col-md-5 col-12">
              <!-- Email input -->
              <div class="form-outline form-white mb-4">
                <input type="email" id="form5Example21" class="form-control" />
                <label class="form-label" for="form5Example21">Email address</label>
              </div>
            </div>
            <!--Grid column-->
  
            <!--Grid column-->
            <div class="col-auto">
              <!-- Submit button -->
              <button type="submit" class="btn btn-outline-light mb-4">
                Subscribe
              </button>
            </div>
            <!--Grid column-->
          </div>
          <!--Grid row-->
        </form>
      </section>
      <!-- Section: Form -->
  
      
  
      <!-- Section: REF -->
      <section class="ref">
        <!--Grid row-->
        <div class="row d-flex justify-content-center">
          <!--Grid column-->
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase">Adresse</h5>
                <p>15 rue de Paris <br> 75001 Paris</p>
            </div>
          <!--Grid column-->
          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">Contact</h5>
            <p>Email: mail@mail.com<br>Tél : 01 75 75 75 75</p>
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </section>
      <!-- Section: REF -->



    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2022 Copyright:
      <a class="text-white" >Au Bonheur des gourmands</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->