a>img{
    height: 40px;
}

.row{
    text-align:center
}

.titre{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

#footer{
    position: absolute;
}