/* You can add global styles to this file, and also import other style files */

:root {
    --primary: #EAA636;
    --secondary: #545454;
    --light: #FDF5EB;
    --dark: #1E1916;
}

.breadcrumb-item+.breadcrumb-item::before {
    color: var(--light);
}

body{
    margin:0;
}


button{
    margin-top : 15px;
    margin-left: auto;
    margin-right : auto;
    color:#594545;
    background-color: #F8F9D7;
    border-color: #594545;
    border-radius: 0%;
}

button:hover{
    color:#F8F9D7;
    background-color: #594545;
    border-color: #594545;
}
